<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="複数銘柄でポートフォリオを組んだ際の最適ポートフォリオを出力するWebアプリです。">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex,nofollow">
    <meta name="google-site-verification" content="oDsxJqWS0LCA6RQYCmhLH1SjANEiwgLONYiDsiqedSE" />
    <title>Optimize_Portfolio</title>
    <link rel="apple-touch-icon" size="152x152" href="../flaskr/static/img/stock_icon.png">
    <link rel="shortcut icon" href="../flaskr/static/img/stock_icon.png" >
<!-- popup自体のデザイン処理 -->
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>