<link rel="apple-touch-icon" size="152x152" href="{{ url_for('static',filename='img/stock_icon.png') }}">
<link rel="shortcut icon" href="{{ url_for('static',filename='img/stock_icon.png') }}">
<!-- bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
    integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/magnific-popup.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/responsive.css') }}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/search_stock.js') }}"></script>
{% extends "base.html" %}
{% block content %}
<div class="container header-color">
    <header>
        <div class="row">
            <div class="col-sm-6">
                <h1>Optimize Portfolio</h1>
            </div>
            <div class="col-sm-6 align-right">
                <a href="https://densuke.work" target="_blank">presented&nbsp;by&nbsp;Densuke</a>
            </div>
        </div>
    </header>
</div>

<div class="container">
    <div class="top-wrapper">
        <h4>
            最適ポートフォリオを求めることができるwebアプリです。
            <br>
            <br>
            東証に登録されている約3600社の企業から銘柄を選択します。
            <br>
            <br>
            最大４銘柄でポートフォリオを組むことが出来ます。
        </h4>
    </div>
    <!-- popupのdiv -->
    <div id="add_stock" class="popup mfp-hide">
        <h1 id="memory_msg">銘柄を追加</h1>
        <div>
            <input class="popup_input" id="popup_input" type="text" name=stock>
            <a href="#" class="popup_search btn-square-so-pop" id="search">Search</a>
        </div>
        <ul class="popup_list">
            <li id="search_result1"></li>
            <li id="search_result2"></li>
            <li id="search_result3"></li>
            <li id="search_result4"></li>
            <li id="search_result5"></li>
        </ul>
    </div>
    <div class="popup-wrapper">
        <div class="search_button">
            <a href="#add_stock" class="open btn-square-soft">銘柄を追加（最大4銘柄取得可能）</a>
            <a href="#" id="delete" class="btn-square-soft2">はじめからやり直す(バグも修正可)</a>
        </div>

        <div class="code_list">
            <div class="box3">
                <p id="read1">銘柄：未選択</p>
            </div>
            <div class="box3">
                <p id="read2">銘柄：未選択</p>
            </div>
            <div class="box3">
                <p id="read3">銘柄：未選択</p>
            </div>
            <div class="box3">
                <p id="read4">銘柄：未選択</p>
            </div>
        </div>
    </div>

    <div class="optimize-wrapper">
        <p id="optimize_msg">2名柄以上選択して最適化してください。</p>
        <a href="#optimize_msg" class="optimize-btn" id="optimize_result">ポートフォリオを最適化する</a>
        <div class="optimize-result">
            <div id="optimize-plot" class="result-plot">
                <img class="plot_img" src="../static/img/no_data_found.png">
            </div>
            <div class="result-table">
                <table>
                    <tr>
                        <th>銘柄コード</th>
                        <td>投資比率</td>
                    </tr>
                    <tr>
                        <th id="keys0">{{weight_keys[0]}}</th>
                        <td id="values0">{{weight_values[0]}}</td>
                    </tr>
                    <tr>
                        <th id="keys1">{{weight_keys[1]}}</th>
                        <td id="values1">{{weight_values[1]}}</td>
                    </tr>
                    <tr>
                        <th id="keys2">{{weight_keys[2]}}</th>
                        <td id="values2">{{weight_values[2]}}</td>
                    </tr>
                    <tr>
                        <th id="keys3">{{weight_keys[3]}}</th>
                        <td id="values3">{{weight_values[3]}}</td>
                    </tr>
                    <tr>
                        <th>リターン</th>
                        <td id="return">{{return_risk_sharpratio[0]}}</td>
                    </tr>
                    <tr>
                        <th>リスク</th>
                        <td id="risk">{{return_risk_sharpratio[1]}}</td>
                    </tr>
                    <tr>
                        <th>シャープレシオ</th>
                        <td id="sharpratio">{{return_risk_sharpratio[2]}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="clear"></div>

    <div class="info-wrapper">
        <div class="info-articles">
            <p>
                株価データは一週間毎に更新されています。
                <br>
                投資は自己責任ですので、計算結果は参考程度に留めましょう。
            </p>
        </div>
        <article>
            <h2>「そもそもポートフォリオ理論とはなにか」についてはこちら</h2>
            <ul id="article_unit" class="clearfix">
            </ul>
        </article>
    </div>
</div>
</div>

<div class="container footer-color">
    <footer>
        <div class="row">
            <div class="col-sm-6 ">
                <a href="https://densuke.work/#Contact" target="_blank">お問い合わせ（作者のサイトへ移動）</a>
            </div>
            <div class="col-sm-6 align-right">
                <p>&copy;Practice_Fintech.work&nbsp;2020</p>
            </div>
        </div>
    </footer>
</div>
<script src="{{ url_for('static', filename='js/optimize.js') }}"></script>
<script src="{{ url_for('static', filename='js/articles.js') }}"></script>
<!-- popup自体の処理 -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popup.js') }}"></script>
{% endblock %}